* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
}

header {
  color: rgb(255, 255, 255);
  margin-top: 1rem;
}
h1,
h3 {
  text-align: center;
}
h3 {
  margin-top: 2rem;
}

ul {
  display: list-item;
  margin: 1rem 0 0 2rem;
  font-size: 1.2rem;
}
.instructions {
  display: flex;
  justify-content: center;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sequencer {
  margin: 2rem;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.kick-track,
.hihat-track,
.hihat-open-track,
.snare-track,
.clap-track {
  display: flex;
  margin-top: 1rem;
}

/* Hover effect */
.kick-pad:hover,
.kick-icon:hover,
.kick-pad.active {
  background: #9023f5;
}

.hihat-pad:hover,
.hihat-icon:hover,
.hihat-pad.active {
  background: #6360ff;
}

.hihat-open-pad:hover,
.hihat-open-icon:hover,
.hihat-open-pad.active {
  background: #4fff40;
}

.snare-pad:hover,
.snare-icon:hover,
.snare-pad.active {
  background: #ff7a00;
}

.clap-pad:hover,
.clap-icon:hover,
.clap-pad.active {
  background: #f64848;
}

.icons {
  width: 6rem;
  height: 4rem;
  margin: 0 0.5rem;
  background: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.6rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.select-menu select {
  background: #2b2b2b;
  height: 4rem;
  width: 15rem;
  border: none;
  border-radius: 0.6rem;
  color: white;
  text-align: center;
  text-align-last: center;
  padding: 0.5rem 2rem 0.5rem 0rem;
  appearance: none;
  cursor: pointer;
}

.select-menu {
  position: relative;
}
.part-1,
.part-2 {
  display: flex;
}
.pad {
  width: 4rem;
  height: 4rem;
  background: #2b2b2b;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 0.6rem;
  transition: all 0.2s ease;
}

.mute {
  width: 4rem;
  height: 4rem;
  background: #2b2b2b;
  color: white;
  border: none;
  margin: 0 0.5rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.btn-container {
  height: 4rem;
  width: 20rem;
  display: flex;
  margin-top: 2rem;
}

/* play btn */
.play-btn,
.clear {
  background: white;
  height: 4rem;
  width: 8rem;
  margin: 0rem 1rem;
  border: none;
  cursor: pointer;
}

.clear {
  font-size: 1.2rem;
}

.fa-play {
  color: black;
  font-size: 1.8rem;
}

.fa-stop {
  color: black;
  font-size: 1.8rem;
  display: none;
}

.fa-volume-up,
.fa-volume-mute {
  pointer-events: none;
}

.fa-volume-mute {
  display: none;
}

.fa-volume-mute.active {
  display: block;
}

.fa-volume-up.active {
  display: none;
}

.fa-chevron-down {
  color: white;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  height: 1rem;
  width: 1rem;
  pointer-events: none;
}

/* bpm slider */
.bpm {
  display: flex;
  height: 4rem;
  width: 30rem;
  /* background: #2B2B2B; */
  margin-top: 2rem;
}

.bpm p {
  background: white;
  display: inline-block;
  height: 4rem;
  width: 10rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 4rem;
}

.bpm input {
  width: 20rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background: #2b2b2b;
}

.bpm input[type="range"]::-moz-range-thumb {
  height: 4rem;
  width: 0.3rem;
}

.bpm input[type="range"]::-webkit-slider-thumb {
  height: 4rem;
  width: 0.3rem;
}

svg {
  pointer-events: none;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 1360px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 1175px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 840px) {
  html {
    font-size: 35%;
  }
  .select-menu select {
    font-size: 1.3rem;
    width: 12rem;
  }
  .fa-volume-mute,
  .fa-volume-up {
    font-size: 1.7rem;
  }
  .part-1,
  .part-2 {
    display: flex;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 35%;
  }
  .select-menu select {
    font-size: 1.3rem;
    width: 12rem;
  }

  .part-1,
  .part-2 {
    display: none;
  }
  .activee {
    display: flex;
  }
  .toggle {
    display: flex;
  }
  .part-1-toggle,
  .part-2-toggle {
    margin: 1.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
  }
  .active {
    background-color: white;
  }
}
